body{
    background: #777;
}


.container {
    /* background-color: pink; */
    /* padding: 10px; */
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 150px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
   

}

.topCenterTitle {
    text-align: center;
    color: grey;  
}

.centerTitle{
    text-align: center;
    /* vertical-align: middle; */
    position: relative;
    top: 50%; 
    color: grey;  
}

header, nav {
    background-color: whitesmoke;
    width: 100%;
    height: 80px;
}

section {
    float: left;
    position: relative;
    bottom: -15px;
    background-color: whitesmoke;
    width: 48%;
    height: 300px;
}

aside {
    float: right;
    position: relative;
    bottom: -15px;
    background-color: whitesmoke;
    width: 50%;
    height: 300px;


}

footer {
    position: 0;
    position: relative;
    bottom: -35px;
    background-color: whitesmoke;
    width: 100%;
    height: 80px;
    clear: both; 
}

article {
    position: relative;
    left: -30px;
    top: -30px;
    padding: 5px;
    background-color: #777;
    margin: 50px;
    height: 220px;
    width: 90%;
}

.articalColor{
    color: #ebebeb;
}

.insideArticle {
    position: relative;
    bottom: -10px;
    left: 4px;
    background-color: whitesmoke;
    width: 98%;
    height: 60px;

}